.tabbar-text-active-color{
    color: red;
}
.search_box,.act_box{
    background:#fff;
}
.vux-popup-header-right{
    color:#F46300 !important;
}
.search_box .vux-flexbox-item .weui-cell{
    padding: 0px auto;
}
.search_box .vux-flexbox-item .weui-cells:before,.search_box .vux-flexbox-item .weui-cells:after{
    border: none;
}
.search_input{
    width:85%;
    height: 25px;
    margin: 8px auto;
    padding: 3px 10px 3px 35px;
    background: #f8f8f8 url(assets/img/icon_search.png) no-repeat 5px center;
    background-size: 18px;
    font-size: 12px;
}
.search_cell .weui-cells{
    margin-top: 0px;
    font-size: 12px;
}
.search_cell .weui-cells .weui-cell{
    padding-left:5px;
    padding-right:10px;
}
.search_cell .vux-label{
    text-align: center;
}
.search_btn{
    line-height: 35px;
    text-align: center;
    font-size: 12px;
}
.act_box .weui-grid__icon {
    width: 50px;
    height: 50px;
}
.act_box .weui-grid__label{
    color: #657281;
}
.act_box .weui-grid__icon + .weui-grid__label {
    margin-top: 10px;
}
.activity_box{
    padding: 10px 10px;
}
.activity_title{
    background: #fff;
    line-height:45px;
    font-size: 18px;
    text-align: center;
}
.activity_title span{
    background: linear-gradient(to top, #FF3D3E, #F46300 , orange);
    -webkit-background-clip: text;
    color: transparent;
}
.activity_title .star_img{
    display:-moz-inline-box; 
    display:inline-block;
    width: 24px;
    height: 24px;
    vertical-align:text-bottom;
    background: url(assets/img/icon_star.png) no-repeat center center;
    background-size: contain;
}
.activity_box{
    background: #fff;
    padding:2vw 4vw 4vw 4vw;
}
.activity_box .left,.activity_box .right{
    float: left;
    width: 48%;
}
.activity_box .left{
    margin-right:4%;
    height: 40vw;
    background: #FFEBF0 url(assets/img/icon_act_bg_01.png) no-repeat center center;
    background-size: contain;
    border-radius:10px;
}
.activity_box .t1{
    font-size: 14px;
}
.activity_box .t2{
    font-size: 12px;
}
.activity_box .t3{
    color:#FF3D3E;
    font-size: 12px;
}
.activity_box .right .r_top,.activity_box .right .r_bottom{
    height: 19vw;
    border-radius:10px;
}
.activity_box .right .r_top{
    margin-bottom: 2vw;
    background: #EAFEFF url(assets/img/icon_act_bg_02.png) no-repeat center center;
    background-size: contain;
}
.activity_box .right .r_bottom{
    margin-bottom: 2vw;
    background: #FFF6D6 url(assets/img/icon_act_bg_03.png) no-repeat center center;
    background-size: contain;
}
.prod_box{
    height: 30vw;
    background: #fff;
    margin-bottom:2px;
    padding:2vw;
    font-size: 14px;
}
.prod_box .left{
    text-align: center;
}
.prod_box .left img{
    width:90%;
}
.prod_box .center{
    padding-left:10px;
    padding-top:5px;
}
.prod_box .center .title{
    width: 100%;
    color:#000;
    margin-bottom:25px;
    overflow:hidden;
    text-overflow:ellipsis; //文本超出范围自动隐藏切加省略号
    -o-text-overflow:ellipsis; //文本超出范围自动隐藏切加省略号
    white-space:nowrap;
}
.prod_box .center .price{
    text-decoration:line-through
}
.prod_box .center .tc_price{
    color: #FF3D3E;
    font-size: 18px;
    vertical-align:baseline;
}
.prod_box .right{
    color: #F46300;
    text-align: center;
    font-size: 16px;
}
.prod_box .right img{
    width: 45px;
    height: 45px;
}
